.widget {
    display: inline-flex;
        padding: 100px 88px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 345px;
        height: 280px;

}

p {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
}

.change-color {
    display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #4E75FF;
        color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.50;
            letter-spacing: 0.03em;
            border: none;
}